.menu-wrapper {
    text-align: center;
    .menu {
        width: 1000px;
    }
    
    @media only screen and (max-width: 1080px) {
        .menu {
            width: 540px;
        }
    }
    
    @media only screen and (max-width: 540px) {
        .menu {
            width: 300px;
        }
    }
    
    .info {
        font-size: 24px;
        font-weight: 600;
        margin: 25px 0;
        text-align: center;
    }
}