.about-us {
  margin: 50px 25vw;
  font-size: 20px;
  line-height: 1.5;
}

.hours {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
  padding: 7px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
}

.note {
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 1090px) {
  .about-us {
    display: none;
    margin: 50px 25vw;
    font-size: 20px;
    line-height: 1.5;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

.gallery .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .group .gallery-image-a {
  width: 360px;
  height: 292px;
  margin: 15px;
}

.gallery .group .gallery-image-b {
  width: 360px;
  height: 480px;
  margin: 15px;
}
